.search-container {
  margin: 0 auto;
  padding: 0 20px;
}

.tag-search {
  padding: 20px;
  background-color: #1e293b;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;

  button {
    background-color: #94a3b8;
    padding: 5px;
    border-radius: 10px;
    height: fit-content;
    flex: 0;
  }
}
