main {
    .itemRow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0 0 20px 0;

        .info {
            font-size: clamp(10px, 2vw, 20px);

            .title {
                font-size: 1em;
                
            }
            
            .price {
                font-size: .9em;
            }
            
            .stock {
                font-size: .7em;
                display: flex;
                flex-direction: row;
                gap: 3px;
                font-weight: 600;
            }
        }

        .item {
            list-style: none;
            background-color: cadetblue;
            padding: 10px;
            position: relative;
            border-radius: 5px;

            img {
                min-width: 100%;
                width: 15vw;
                border-radius: 5px;
            }

            .cart {
                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 15px;
                right: 15px;
                position: absolute;
                background-color: rgb(0, 214, 0);
                height: 30px;
                width: 30px;
                border-radius: 5px;
                transition: .5s;
            }
            .cart:hover {
                text-shadow: 0 0 10px white;
            }
        }
        .item:hover {
            .cart.active {
                opacity: 100;
            }
        }
    }

}