:root {
    --footer-height: 300px;
}

@font-face {
    font-family: 'G Gear';
    src: url('../includes/font/GGST.OTF') format('opentype');
}

footer {
    background-color: black;
    height: var(--footer-height);
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    z-index: 999;

    .creator,
    a {
        color: white;
    }

    .creator {
        font-family: 'G Gear', sans-serif;
        margin-top: 30px;
        font-size: 50px;
    }

    .secret {
        color: rgb(80, 80, 80);
    }

    .linkLabel {
        font-size: 20px;
        color: white;
    }

    a {
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        flex: 1 0 50%;
        margin: 15px 0;
        transition: text-shadow 1s;
    }

    a:hover {
        text-shadow: 0 0 50px rgb(11, 130, 126);
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }
}