header {
    background-color: black;
    position: sticky;
    top: 0;
    height: 100px; /* temporary, change later*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .logo {
        height: 75%;
    }

    .userIcons {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        right: 50px;

        i {
            border-radius: 10px;
            width: auto;
            color: white;
            background-color: rgb(46, 46, 46);
            font-size: 2em;
            padding: 10px;
            transition: all .5s;
        }

        i:hover {
            color: black;
            background-color: rgb(11, 130, 126);
        }
        
        img {
            border-radius: 50%;
            height: 50%;
        }
    }
}