.auth-container {
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;

  div {
    display: flex;
    flex-direction: row;

    img {
      height: 300px;
      border-radius: 10px 0 0 10px;
    }

    form {
      box-shadow: -5px 0 0 red;
      justify-content: center;
      background-color: #1e293b;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      h2 {
        color: white;
      }

      input {
        height: 30px;
      }
    }
  }
}
