.header {
  height: 100px;
  background: #1e293b;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.menu-button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  margin-right: 15px;
}

.logo {
  height: 80%;
}